 /* Подгрузка шрифта */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600;700&display=swap');

 /* Фон сайта */
body {
    background-color: #111A20;
    margin: 0%;
    padding: 0%;
}

 /* Шапка сайта */
header {
    background-color: #17232B;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 85px;
    width: auto;
}

/* Левая сторона */
.l_side {
    position: absolute;
    left: 13.82%;
    top: 26px;
}

/* Стиль лого-текста*/
.logo {
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
}

/* Правая сторона */
.r_side {
    position: absolute;
    top: 27px;
    right: 24.6%;
}

/* Главный стиль кнопок сверху */
 .header_button {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    margin-left: 40px;    
}

/* Стиль кнопок при наведении */
.header_button:hover {
    color: #FFA97A;
}