 /* Подгрузка шрифта */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600;700&display=swap');

 /* Фон сайта */
body {
    background-color: #111A20;
    font-family: 'Jost', sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 0%;
    padding: 0%;
}

 /* Шапка сайта */
header {
    background-color: #17232B;
}

.header_b {
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
}

.header_r_side {
    margin-right: 30px;
}

.header_l_side {
    margin-left: 30px;
}

.header_logo {
    display: block;
    width: 64px;
    height: 23px;
    background-image: url(imgs/logo.svg);
    background-repeat: no-repeat;

}

.header_buttons_list {
    display: flex;
    list-style-type:none;
}

.header_link {
    color: #fff;
    text-decoration: none;
    margin-left: 34px;
    user-select: none;
}

.header_link:hover {
    color: #FFA97A;
    text-decoration: none;
}

.BLOCK {
    display: block;
    max-width: 928px;
    margin: 0px auto 120px auto;  
}

.welcome_text_b {
    display: block;
    color: #fff;
    text-align: center;
    user-select: none;
    margin-top: 50px;
    margin-bottom: 30px;
}

.hello_text, .name_text, .design_text {
    margin-bottom: 0px;
    margin-top: 0px;
}
.hello_text {
    font-size: 30px;
    margin-bottom: 40px;
}

.name_text {
    font-size: 70px;
    margin-bottom: 40px;
}

.design_text {
    font-size: 30px;
    color: #FFA97A;
}
.welcome_buttons_b {
    display: flex;
    justify-content:center;
}

.welcome_buttons_list {
    display: flex;
    justify-content: space-between;
    width: 321px;
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

.button_cv, .button_about, .button_contact_me {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    user-select: none;
    margin-bottom: 26px;
}

.button_cv, .button_about, .button_contact_me {
    display:inline-block;
    background-color: #FFA97A;
    border-radius: 5px;
    text-align: center;
}

.button_about {
    height: 51px;
    width: 135px;
}

.button_cv {
    height: 51px;
    width: 156px;
}

.button_cv:active, .button_about:active, .button_contact_me:active {
    background-color: #111A20;
    border: 2px solid #FFA97A;
    color: #FFA97A;
}
.button_cv:active {
    height: 47px;
    width: 152px
}

.button_about:active {
    height: 47px;
    width: 131px;
}

.welcome_img {
    height: 275px;
    width: 275px;
}

.intro_text_b {
    display: block;
    text-align: center;
    user-select: none;
    margin-bottom: 50px;
}

.intro_text {
    color: #FFA97A;
    font-size: 30px;
    margin: 0px;
}

.podintro_text {
    color: #767676;
    font-size: 15px;
    margin: 0px;
}

.workinfo_b {
    display:flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.workinfo_text {
    width: 397px;
    height: 75px;
}

.workinfo_text {
    margin: 0px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #959595;
    user-select: none;
}

.workscount_b {
    width: 397px;
    display: flex;
    justify-content: space-between;
}

.workscount_1, .workscount_2, .workscount_3  {
    background-color: #182228;
    height: 90px;
    width: 117px;
    border-radius: 13.5px;
    margin-top: 50px;
    user-select: none;
}

.wcountpic {
    height: 23px;
    width: 23px;
    display: flex;
    margin: 13px auto 0px auto;
}

.workscount_text_completed {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    margin: 7px auto 0px auto;
}

.workscount_text_project {
    font-size: 12px;
    line-height: 18px;
    color: #959595;
    text-align: center;
    margin: 0px auto auto auto;
}

.contact_b {
    margin-top: 50px;
}

.button_contact_me {
    height: 51px;
    width: 145px;
    margin-left: 0px;
}

.button_contact_me:active {
    height: 47px;
    width: 141px;
}

.border_wall_b {
    display: flex;
    justify-content: space-evenly;
}

.border_wall {
    background-color: #182228;
    height: 250px;
    width: 300px;
    border-radius: 20px;
    user-select: none;
}

.border_wall_outro {
    height: 0px;
    width: 225px;
    margin: 31px 0 0 31px;
}

.diagram_text_h1, .diagram_text_p, .diagram_progress_text_1, .diagram_progress_text_2, .diagram_text_h2 {
    margin: 0 0 0 0;
    line-height: 20px;
}

.diagram_text_h1 {
    font-size: 17px;
    color: #fff;
}

.diagram_text_p {
    font-size: 13px;
    color: #767676;
}

.diagram_progress_b {
    margin: 15px 0 0 0;

}
.diagram_progress_text {
    width: 225px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.diagram_progress_text_1 {
    font-size: 14px;
    color: #fff;

}

.diagram_progress_text_2 {
    font-size: 14px;
    color: #767676;
}

.meter {
    height: 3px; 
    background: #ffa97a80;
    box-shadow: 0px 0px 5px #ffa97a80;
    border-radius: 10px;
}

.progress_1, .progress_2, .progress_3, .progress_4, .progress_5, .progress_6 {
    display: block;
    height: 3px;
    border-radius: 10px;
    background: #FFA97A;
    box-shadow: 0px 0px 5px #FFA97A;
}

.progress_1 {
    width: 145px; 
}

.progress_2 {
    width: 115px; 
}

.progress_3 {
    width: 67px; 
}

.progress_4 {
    width: 191px; 
}

.progress_5 {
    width: 5px; 
}

.progress_6 {
    width: 5px; 
}

.checkmarkpic {
    height: 23px;
    width: 23px;
}