 /* Подгрузка шрифта */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600;700&display=swap');

 /* Фон сайта */
body {
    background-color: #111A20;
    font-family: 'Jost', sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 0%;
    padding: 0%;
}

 /* Шапка сайта */
header {
    background-color: #17232B;
}

.header_b {
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
}

.header_r_side {
    margin-right: 30px;
}

.header_l_side {
    margin-left: 30px;
}

.header_logo {
    display: block;
    width: 64px;
    height: 23px;
    background-image: url(imgs/logo.svg);
    background-repeat: no-repeat;

}

.header_buttons_list {
    display: flex;
    list-style-type:none;
}

.header_link {
    color: #fff;
    text-decoration: none;
    margin-left: 34px;
    user-select: none;
}

.header_link:hover {
    color: #FFA97A;
    text-decoration: none;
}

.NEW_BLOCK {
    display: block;
    max-width: 928px;
    margin: 0 auto 50px auto;  
}

.welcome_text_b {
    display: block;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
    user-select: none;
}
.hello_text {
    font-size: 17px;
    letter-spacing: 0.4px;
    margin-top: 46px;
}

.name_text {
    font-size: 40px;
    letter-spacing: 2.2px;
    margin-top: 15px;
}

.design_text {
    font-size: 14px;
    letter-spacing: 0.6px;
    margin-top: 15px;
    color: #FFA97A;
}
.welcome_buttons_b {
    display: flex;
    justify-content:center;
}

.welcome_buttons_list {
    display: flex;
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

.button_cv, .button_about, .button_contact_me {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    user-select: none;
    margin-bottom: 26px;
}

.button_cv, .button_about, .button_contact_me {
    display:inline-block;
    background-color: #FFA97A;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
}

.button_about {
    height: 51px;
    width: 135px;
}

.button_cv {
    height: 51px;
    width: 156px;
}

.button_cv:active, .button_about:active, .button_contact_me:active {
    background-color: #111A20;
    border: 2px solid #FFA97A;
    color: #FFA97A;
}
.button_cv:active {
    height: 47px;
    width: 152px
}

.button_about:active {
    height: 47px;
    width: 131px;
}

.welcome_img {
    height: 275px;
    width: 275px;
}

.intro_text_b {
    display: block;
    text-align: center;
    user-select: none;
}

.intro_text {
    color: #FFA97A;
    font-size: 30px;
    margin: 0px;
}

.podintro_text {
    color: #767676;
    font-size: 15px;
    margin: 0px;
}

.workinfo_b {
    display:flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.workinfo_text {
    width: 397px;
    height: 75px;
}

.workinfo_text {
    margin: 0px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #959595;
    user-select: none;
}

.workscount_b {
    width: 397px;
    display: flex;
    justify-content: space-between;
}

.workscount_1, .workscount_2, .workscount_3  {
    background-color: #182228;
    height: 90px;
    width: 117px;
    border-radius: 13.5px;
    margin-top: 50px;
    user-select: none;
}

.wcountpic {
    height: 23px;
    width: 23px;
    display: flex;
    margin: 13px auto 0px auto;
}

.workscount_text_completed {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    margin: 7px auto 0px auto;
}

.workscount_text_project {
    font-size: 12px;
    line-height: 18px;
    color: #959595;
    text-align: center;
    margin: 0px auto auto auto;
}

.contact_b {
    margin-top: 50px;
}

.button_contact_me {
    height: 51px;
    width: 145px;
    margin-left: 0px;
}

.button_contact_me:active {
    height: 47px;
    width: 141px;
}

.experience_diagram {
    display: flex;
    justify-content: space-evenly;
}

.experience_diagram_frontend, .experience_diagram_design {
    margin-top: 50px;
    background-color: #182228;
    height: 250px;
    width: 300px;
    border-radius: 20px;
    user-select: none;
}
