 /* Подгрузка шрифта */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600;700&display=swap');

 /* Фон сайта */
body {
    background-color: #111A20;
    font-family: 'Jost', sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 0%;
    padding: 0%;
}

 /* Шапка сайта */
header {
    background-color: #17232B;
}

.header_list {
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
}

.r_side {
    margin-right: 30px;
}

.l_side {
    margin-left: 30px;
}

.header_logo {
    display: block;
    width: 64px;
    height: 23px;
    background-image: url(imgs/logo.svg);
    background-repeat: no-repeat;

}

.header_buttons {
    display: flex;
    list-style-type:none;
}

.header_link {
    color: #fff;
    text-decoration: none;
    margin-left: 34px;
    user-select: none;
}

.header_link:hover {
    color: #FFA97A;
    text-decoration: none;
}

.hll_block {
    display: block;
    max-width: 928px;
    margin: 0 auto;
}

.hll_text {
    display: block;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
    user-select: none;
}
.hll {
    font-size: 17px;
    letter-spacing: 0.4px;
    margin-top: 46px;
}

.name {
    font-size: 40px;
    letter-spacing: 2.2px;
    margin-top: 15px;
}

.design {
    font-size: 14px;
    letter-spacing: 0.6px;
    margin-top: 15px;
    color: #FFA97A;
}
.hll_buttons {
    display: flex;
    justify-content:center;
}

.list_abbt_bttn {
    display: flex;
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

.button_cv, .button_about {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    user-select: none;
    margin-bottom: 26px;
}

.button_about {
    display:inline-block;
    background-color: #FFA97A;
    height: 51px;
    width: 135px;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
}

.button_cv {
    display: inline-block;
    height: 47px;
    width: 154px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #FFA97A;
    margin-right: 15px;
}

.igm_hll {
    height: 275px;
    width: 275px;
}
